.page-footer__logoweb {
  color: $accent-text-color;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.page-footer {
  background-color: $second-bg-color;
  padding: 60px 0;
  text-decoration: none;
}

.page-footer__logo {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  text-decoration: none;
}

.page-footer__logostudio {
  color: $second-accent-text-color;
  font-size: 26px;
  text-decoration: none;
}

.page-footer__meta {
  display: flex;
  align-items: baseline;
}

.page-footer__title {
  color: $second-accent-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $primary-bg-color;
    background: $accent-text-color;
  }
}

.socials__item--footer:not(:last-child) {
  margin-right: 10px;
}

.page-footer__socials {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}

.page-footer__subscribe {
  margin-left: auto;
}

.subscribe__meta {
  display: flex;
}

.subscribe__input {
  position: relative;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-bg-color);
  margin-right: 12px;
  padding: 15px 16px;
  color: $second-accent-text-color;
}

.subscribe__button {
  display: flex;
  width: 200px;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
